{% extends 'astator/layout.html' %}

{% block main %}
    <!--Allowing users to change their passwords-->
<br><div class="registration_form">
    <h3 style="text-align: center;">Edit Profile</h3><br>
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password:</label>
            {{ form.old_password }}
            <div id="old_passwordHelp" class="form-text">Enter your old password.</div>
        </div>
        <div class="mb-3">
            <label for="new_password1" class="form-label">New Password:</label>
            {{ form.new_password1 }}
            <div id="new_password1Help" class="form-text">Enter your new password. Strong password helps protect your account. 
                <ul>
                    <li>Your password can't be too similar to your other personal information (your username, for example).</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label for="new_password2" class="form-label">Repeat New Password:</label>
            {{ form.new_password2 }}
            <div id="new_password2Help" class="form-text">Re-enter your new password carefully. Passwords must match.</div>
        </div>
        <div class="registration_form_button">
            <button class="w-100 btn btn-lg btn-danger" type="submit">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}