{% extends 'astator/layout.html' %}

{% block main %}
<!--Password reset second part - it tells user if email has been sent successfully.-->
<br>
    <div class="registration_form">
        <h3 style="text-align: center;">Reset Email Sent</h3><br>
        <p>We've emailed you instructions for setting your password, if an account with the email address you provided exists. You should receive these instructions shortly.</p>
        <p>If you don't see email from us in your inbox, please check your spam folder first. If you don't receive an email, please make sure you've entered the correct address and try again.</p>
    </div>
{% endblock %}