{% extends 'astator/layout.html' %}

{% block main %}
<!--First form for reseting passwords - the one where user types in their email.-->
<br>
    <div class="registration_form">
        <h3 style="text-align: center;">Reset Your Password</h3><br>
        <p>Forgotten your password? Enter the email address you used when registering on Astator (if you later on replaced that email address with a new one, type in the new one), and we'll email you instructions for setting your new password.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email_reset" class="form-label">Enter Your Email Address:</label>
                {{ form.email }}
                <div id="email_resetHelp" class="form-text">Remember: <strong>Your email address must match the address you provided for your account!</strong></div>
            </div>
            <input type="submit" class="w-100 btn btn-lg btn-danger" name="send_email" value="Send Email">
        </form>

    </div>
{% endblock %}