{% extends 'astator/layout.html' %}

{% block main %}
<!--Password reset - last part - it lets users know their passwords have been reset,
and provides link to go and log in with this new password.-->
<br>
    <div class="registration_form">
        <h3 style="text-align: center;">Password Reset Done!</h3><br>
        <p>The process of reseting your password is done. Your new password is now set. You may go ahead and log in with your new password now. Be sure to remember your new password.</p>
        <p><a href="{% url 'login' %}">Log in.</a></p>
    </div>
{% endblock %}